.button {
  width: 80px;
  height: 35px;
  padding: 1%;
  border-radius: 20% 20% 20% 20%;
  margin-top: 20px;
}

.button--confirmation {
  position: relative;
}

.button--flash {
  overflow: hidden;
  transition: 1s;
}

.button:hover {
  background-color: rgb(185, 63, 63);
  box-shadow: -1em 0.35em 0.9em 0.1em rgba(0, 0, 0, 0.63);
}

.button--flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: -35%;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.5s;
}

.button--flash:hover::after {
  left: 125%;
}
