@import '../../styles-global/base-color';

.button {
  width: 80px;
  height: 35px;
  padding: 1%;
  border-radius: 10px;
  margin-top: 20px;
}

.button--flash {
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.button:hover {
  background-color: $color-sangria;
  box-shadow: -1em 0.35em 0.9em 0.1em black;
}

.button--flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: -35%;
  width: 20%;
  height: 100%;
  background: $color-silverSand;
  transform: skewX(-30deg);
  transition: 0.5s;
}

.button--flash:hover::after {
  left: 125%;
}
