@import 'baseColor';

@font-face {
  src: url(../fonts/MetalMania-Regular.ttf);
  font-family: 'Metal Mania';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
  align-items: center;
  background-color: $color-brightGray;
}

.block__login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: $color-brightGray;
}

.block__header {
  position: relative;
  top: -10%;
  font-size: 3.5em;
  color: brown;
  transition: 1s;
  text-shadow: -5px 0 2px black;
}

.block__header:hover {
  transform: scale(3);
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  margin: 1%;
  text-align: center;
  transition: 1s;
}

.button {
  width: 20%;
  height: 35px;
  padding: 1%;
  border-radius: 20% 20% 20% 20%;
}

.button--confirmation {
  position: relative;
  float: right;
}

.button--flash {
  overflow: hidden;
  transition: 2s;
}

.button:hover {
  background-color: rgb(185, 63, 63);
  box-shadow: -1em 0.35em 0.9em 0.1em rgba(0, 0, 0, 0.63);
}

.button--flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: -35%;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 1s;
}

.button--flash:hover::after {
  left: 125%;
}

.input--pulse {
  animation: pulse 5s infinite both;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}
