@import '../styles-global/baseColor';

@font-face {
  src: url(../fonts/MetalMania-Regular.ttf);
  font-family: 'Metal Mania';
}

.login__page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
