@import '../../styles-global/base-color';

.door {
  height: 50%;
  width: 100%;
  overflow: hidden;
  transition: 0.8s;
  z-index: 1;
  background: white;
}

.door__figure {
  max-width: 100%;
  height: auto;
}

.door__figure--bottom {
  position: relative;
  top: -100%;
}
